body{
    background-color: rgba(118, 97, 97, 0.219);
    font-family: system-ui;
    width: fit-content;
}

section{
    padding: 1px 2%;
}

.logo{
    width: 200px;
    height: 200px;
    cursor: pointer; 
}

.navbar{
    width: 85%;
    margin-top: 20px;
    margin-left: 1px;
    padding: 0% 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 2px 2px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
    margin: 1000px 10px;
}

.navbar ul i{
    color: white;
}

.navbar ul li.active a{
    padding: 5px 20px;
    background-color: white;
    color: black;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #d3ad7f;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

.name{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(images/mountain.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.name .content{
    max-width: 60rem; 
}

.name .content h3{
    font-size: 6rem;
    margin-left: 40px;
    text-transform: uppercase;
    color: #fff; 
}

.name .content p{
    font-size: 2rem;
    margin-left: 40px;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee; 
}

header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

header .shopping{
    position: relative;
    text-align: right;
}

header .shopping i{
    width: 50%;
    height: 50%;
}

header .shopping span{
    background-color: red;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6eeee;
    position: absolute;
    top: -20px;
    left: 90%;
    padding: 3px 10px;
}

.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 30px;
    row-gap: 20px;
    margin-top: 50px;
}

.cart{
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #2f2f2d;
    height: 100vh;
    transition: 0.5s;
}

.cart h1{
    color: gold;
    font-weight: 100;
    font-size: 25px;
    text-decoration: underline;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.cart .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart .checkout div{
    background-color: gold;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.cart .checkout div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}

.active .cart{
    left: calc(100% - 500px);
}

.active .container{
    transform: translateX(-200px);
}

.list .item{
    display: grid;
    align-items: center;
    color: white;
    background-color: black;
    padding: 20px;
    border: 1.6px solid #d3ad7f;
    letter-spacing: 1px;
}

.list .item:hover{
    background: #9f651f;
}

.list .item img{
    width: 90%;
    height: 70%;
}

.list .item .title{
    font-weight: 600;
}

.list .item button{
    background-color: #d3ad7f;
    display: inline-block;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
}

.listcard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fcf9f9;
    row-gap: 10px;
    margin-bottom: 20px;
}

.listcard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listcard li img{
    width: 90%;
}

.listcard button{
    width: auto;
    background-color: #fff5;
    border: none;
}

.listcard .count{
    margin: 0 10px;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-top: 70px;
    padding-bottom: 56px;
    font-size: 40px;
}

.heading span{
    color: #d3ad7f;
    text-transform: uppercase;
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:1.5rem
}

.review .box-container .box{
    border:1.6px solid rgba(255,255,255,.3);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem;
    font-size: 2rem;
    color:#fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:#d3ad7f;
}

.footer{
    background: black;
    text-align: center;
}

.footer .credit{
    font-size: 20px;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: #d3ad7f;
}


