*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/l.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f7f0f0 !important;
    height: 100%;
    width: 100%;
}

.box{
    position: relative;
    width: 400px;
    height: 450px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 400px;
    height: 450px;
    background: linear-gradient(0deg, transparent, transparent, #cdd5d5, #ebefef, #f4f8f9);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 400px;
    height: 450px;
    background: linear-gradient(0deg, transparent, transparent, #d1e0af, #c7d19c, #a7b876);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 400px;
    height: 450px;
    background: linear-gradient(0deg, transparent, transparent, rgb(167, 77, 17),rgb(231, 51, 51), red);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after{
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 400px;
    height: 450px;
    background: linear-gradient(0deg, transparent, transparent, rgb(167, 77, 17),rgb(231, 51, 51), red);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2{
    color: #eae5e5;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: -25px;
}

.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: -10px;
}

.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 5px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i{
    height: 44px;
}

.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 7px 25px;
    background: #d87354;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.box form .inputBox input[type="submit"]:active{
    opacity: 0.8;
}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo{
    width: 230px;
    cursor: pointer;  
}

.navbar{
    width: 85%;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0px 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 2px 5px;
    position: relative;
}

.navbar ul i{
    color: white;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
    margin: 1000px 10px;
}

.navbar ul li.active a{
    padding: 2px 20px;
    background-color: white;
    color: black;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fcbf9b;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}
